.comment {
  float: right;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  .bar {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    float: left;
    width: 5px;
    background-color: #8CD790;
  }
}

.reply1 {
  float: right;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 95%;
  .bar {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    float: left;
    width: 5px;
    background-color: #fe4365;
  }
}

.reply2 {
  float: right;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 90%;
  .bar {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    float: left;
    width: 5px;
    background-color: #f9c00c;
  }
}
.reply3 {
  float: right;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 85%;
  .bar {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    float: left;
    width: 5px;
    background-color: #75D701;
  }
}
.reply4 {
  float: right;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 80%;
  .bar {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    float: left;
    width: 5px;
    background-color: #7200da;
  }
}

.view-button {
  width: 100%;
}

.user-name {
  color: #47b8e0;
}

.time {
  font-style: italic;
}
