<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

 <h2 (tap)="openLink()">{{ item.title }}</h2>
 <ion-grid>
  <ion-row>
    <ion-col width-25>{{ values.user }}</ion-col>
    <ion-col width-25>{{ item.points }}</ion-col>
    <ion-col width-25>{{ item.num_comments }}</ion-col>
    <ion-col width-25>posted {{ values.time_ago }}</ion-col>
  </ion-row>
</ion-grid>
<hr>
<p>{{ item.url }}</p>
<p>{{ item.story_text }}</p>

<h4>Comments</h4>

<ion-list>
  <div *ngFor="let comment of values.comments">
    <ion-card class="comment">
      <div class="bar"></div>
      <ion-card-content>{{ comment.content }}</ion-card-content>
    </ion-card>

    <div class="" *ngFor="let reply of comment.comments">
        <ion-card class="reply1">
          <div class="bar"></div>
          <ion-card-content>
             > {{ reply.content }}</ion-card-content>
        </ion-card>
        <div class="" *ngFor="let repReply of reply.comments">
          <ion-card class="reply2">
            <div class="bar"></div>
            <ion-card-content> >> {{ repReply.content }}</ion-card-content>
          </ion-card>
          <div class="" *ngFor="let rRepReply of reply.comments">
            <ion-card class="reply3">
              <div class="bar"></div>
              <ion-card-content> >>> {{ rRepReply.content }} </ion-card-content>
            </ion-card>
            <div class="" *ngFor="let rrRepReply of reply.comments">
              <ion-card class="reply4">
                <div class="bar"></div>
                <ion-card-content>>>>> {{ rrRepReply.content }}</ion-card-content>
              </ion-card>
            </div>
          </div>
        </div>

    </div>



    <hr>
  </div>
</ion-list>

<ion-fab right bottom>
   <button ion-fab color="highLight"><ion-icon name="share"></ion-icon></button>
 </ion-fab>

</ion-content>
