<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

 <h2 (tap)="openLink()">{{ item.title }}</h2>
 <ion-grid>
  <ion-row>
    <ion-col width-25>{{ values.user }}</ion-col>
    <ion-col width-25>{{ item.points }}</ion-col>
    <ion-col width-25>{{ item.num_comments }}</ion-col>
    <ion-col width-25>posted {{ values.time_ago }}</ion-col>
  </ion-row>
</ion-grid>
<hr>
<p>{{ item.url }}</p>
<p>{{ item.story_text }}</p>

<h4>Comments</h4>

<ion-list>
  <div *ngFor="let comment of values.comments">
    <div>{{ comment.content }}</div>
    <hr>
  </div>
</ion-list>

</ion-content>
