<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bookmarks</ion-title>
    <ion-buttons end>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-card *ngFor="let item of items">

      <ion-card-content (swipe)="viewLink(item)" style="display: table; height: 100%; width: 100%;">

        <div class="" style="width:100%;">
        <span (tap)="removeBM(item)"><ion-icon name="trash" style="float: right; padding-left:10px;"></ion-icon></span>
          <h3 style="font-size: 125%;" (tap)="viewPost(item)"> {{ item.title }}</h3>
        </div>
        <hr>
        <div class="" (tap)="viewPost(item)">
          <span><strong>{{ item.points }}</strong> Points </span>
          &bull;<span *ngIf="item.num_comments"> <strong>{{ item.num_comments }} </strong>Comments </span>
                <span *ngIf="item.comments_count"> <strong>{{ item.comments_count }} </strong>Comments </span>
          &bull;<span *ngIf="item.author" class="user-name"> {{ item.author }}</span>
                <span *ngIf="item.user" class="user-name"> {{ item.user }}</span>
        </div>

      </ion-card-content>

    </ion-card>
  </ion-list>

</ion-content>
